$background-transparent: rgba( 255, 255, 255, 0 );

page-login
{
	.login-content
	{
		background-image: url( "../assets/images/concert.jpg" );

		ion-row
		{
			background: $background-transparent;
		}

		ion-col
		{
			background: $background-transparent;
		}

		ion-list
		{
			background: $background-transparent;
		}

		.login-button
		{
			width: 80%;
			margin: 0 auto;
		}
	}
}