page-login
{
	.login-content
	{
		background-image: url( "https://c1.staticflickr.com/3/2145/2081568036_5f54ec67e0_b.jpg" );

		ion-row
		{
			background: rgba( 255, 255, 255, 0 );
		}

		ion-col
		{
			background: rgba( 255, 255, 255, 0 );
		}

		ion-list
		{
			background: rgba( 255, 255, 255, 0 );
		}
	}
}